*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

body{
    background-image: url(../img/71d63e98afd39d84fa8115d681252c9dab32eef9_2_690x408.jpeg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position:center;
}

div{
    position: relative;
    width: 100%;
    height: 40%;
    top: 60%;
}

.toad{
   scale: 1.2;
   position: absolute;
   top: 0%;
    left: 0px;
   animation-name: gotoad;
   animation-duration: 5s; 
   animation-timing-function: ease-out;
   animation-direction: normal;
   animation-iteration-count: infinite ;
}

.mario{
    scale:1.2 ;
    position: absolute;
    top: 20%;
    left: 0px;
    animation-name: gomario;
    animation-duration: 3s; 
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count:infinite ;
 }

 .luigi{
    scale:1.2 ;
    position: absolute;
    top: 40%;
    left: 0px;
    animation-name: goluigi;
    animation-duration: 4s; 
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count:infinite ;
 }






@keyframes gotoad{
    from{ left: -300px; }
    to{ left: 2500px;}
}


@keyframes gomario{
    0%{ left: -300px; }
    20%{top: 20%;}
    30%{ top:10%}
    50%{top: 10%;}
    100%{ left: 2500px;top:20%}
}

@keyframes goluigi{
    from{ left: -300px; }
    to{ left: 2500px;}
}

